body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
;
}


/*Adrian*/
.btn {
  border-radius: 0;
  background-image: none;
  background-color: #F39C12;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
}

.btn-default {
  text-shadow: none;
  color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn-default:hover, .btn-default:focus {
  background-color: black;
  color: white;
}

.btn-default:active, .btn-default.active {
  background-color: black;
  color: white;
}

.btn-default:active:focus {
  color: white;
  background-color: black;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #F39C12;
  box-shadow: none;
}
/*Adrian*/

