body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ECEFF1;
}

/*BUTTONS*/
.btn {
  border-radius: 0;
  background-image: none;
  background-color: #F39C12;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
}

.btn-default {
  text-shadow: none;
  color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn-default:hover, .btn-default:focus {
  background-color: black;
  color: white;
}

.btn-default:active, .btn-default.active {
  background-color: black;
  color: white;
}

.btn-default:active:focus {
  color: white;
  background-color: black;
}
/*BUTTONS*/

/*FORM*/
.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #F39C12;
  box-shadow: none;
}

.change-padding-right {
  padding-right: 3px;
}

.change-padding-left {
  padding-left: 3px;
}
/*FORM*/

/*LOGIN MODAL*/
.modal-content {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: inherit;
}

.well {
  background-image: none;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  background-color: #ECEFF1;
}

.modal-body {
  background-color: #ECEFF1;
}

.modal-header {
  background-color: #333333;
  color: white;
}

.login-button-width {
  width: 50%;
}

.fb-button {
  background-color: #4267b2;
  margin-bottom: 5px;
}

.fb-button:hover {
  background-color: #365899;
}

.p-margin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.register-link {
  color: darkgray;
}

.register-link:hover {
  color: #F39C12;
  text-decoration: none;
  cursor: pointer;
}

.register-hr {
  border-color: #f39c12;
  border-width: 3px;
  max-width: 50px;
}

.close {
  color: darkgray;
  text-shadow: none;
}

.close:hover {
  color: #f39c12;
}
/*LOGIN MODAL*/

/*TOP BAR*/
.top-bar-padding {
  padding: 10px;
  background-color: #333333;
}

.top-bar-logo-center {
  text-align: -webkit-center;
}

.left-button-padding {
  padding: 15px;
}

.right-button-padding {
  padding: 15px;
}
/*TOP BAR*/

/*MAIN GRID*/
.main-grid-padding {
  padding: 0;
}
/*MAIN GRID*/

/*LastAddedFavoriteList*/
.image-size {
  width: 100%;
  height: 100%;
  padding: 0;
}

.center-image {
  text-align: -webkit-center;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);  background-color: white;
  transition: box-shadow 0.2s ease;
  padding: 0;
  margin: 20px;
}

.item-body:hover {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2), 0 10px 10px 0 rgba(0,0,0,0.14), 0 5px 3px -1px rgba(0,0,0,0.12);
}
/*LastAddedFavoriteList*/

/*SELECT CONTROL*/
.Select-control {
  border-radius: 0;
}
/*SELECT CONTROL*/

/*NAV*/
.nav-item-color {
  color: #F39C12;
  padding: 5px;
  font-size: 18px;
}

.nav-item-color:hover {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
/*NAV*/

/*TOASTR*/
#toast-container > div {
  border-radius: 0;
  box-shadow: none;
}

#toast-container > div:hover {
  box-shadow: 0;
}

.toast-error {
  background-color: #FF3B30;
}

.toast-success {
  background-color: #4CD964;
}
/*TOASTR*/

/*ProductList*/
.searched-container {
  border: 1px solid #eee;
  background-color: white;
  margin-bottom: 4px;
  padding: 15px;
  -webkit-transition-duration: 0.4s;

}

.searched-container:hover {
  background-color: #E9EEF1;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.searched-button-padding {
    padding: 30px;
}

.font-change-color {
    color: #f39c12;
}

.add-name-padding {
  padding: 13px;
}
/*ProductList*/